html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0;
  background: #242d28;
}

a {
  color: #44fc8c;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

a:hover {
  background:rgba(0,0,0,0.3);
}

.toggleNav {
  display: none;
}

img {
  width:100%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

input {
  padding:10px;
  border:0;
}

input[type="submit"] {
  font-family: inherit;
  margin-left: 10px;
  background:  #BF3041;
  border: none;
  font-weight: bold;
  outline: 0;
}

input[type="submit"]:hover {
  background:  #8F3F48;
  cursor: pointer;
}

section, footer {
  text-align: center;
  background:rgba(0,0,0,0.2);
  padding:20px;
  margin:20px 0;
  color:white;
  font-weight: 100;
}

/* Flex Container */
.flex-nav ul {
  border:1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
}

.flex-nav li {
  flex:3;
}

.flex-nav .social {
  flex:1;
}


@media all and (max-width:1000px) {

  .flex-nav ul {
    flex-wrap:wrap;
  }

  .flex-nav li {
    flex:1 1 50%;
  }

  .flex-nav .social {
    flex:1 1 25%;
  }

}

@media all and (max-width:730px) {

  .flex-nav li {
    flex-basis:100%;
  }


  .wrapper {
    display:flex;
    flex-direction:column;
  }

  .wrapper > * {
    order:999;
  }

  .flex-nav {
    order:1;
  }

  .toggleNav {
    display: block;
  }

  .flex-nav ul {
    display: none;
  }
    .flex-nav ul.open {
      display:flex;
    }

  .top {
    order:2;
  }

  .details {
    order:3;
  }

  .signup {
    order:4;
  }

}
