html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0;
  background: #242d28;
}

.plan ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plan ul li {
  border-bottom: 1px solid rgba(167,255,115,0.1);
  padding:10px;
  color: #A7FF73;
}

.plan ul li:last-child {
  border-bottom: 0;
}

.plan a {
  font-family: inherit;
  text-decoration: none;
  padding:10px;
  color:#FF003B;
  border: 2px solid #FF003B;
  border-radius: 5px;
}

.plan a:hover {
  background-color: #FF003B;
  color: white;
}


.plan h2 {
  text-transform: uppercase;
  font-family: inherit;
  color: #A7FF73;
  border-bottom: 2px solid #A7FF73;
  letter-spacing: 6px;
}

.plan p {
  color: #A7FF73;
}

.price {
  font-size: 50px;
  font-family: inherit;
  margin: 10px 0;
}


/* Flex Container */
.pricing-grid {
  max-width:750px;
  margin: 0 auto;
  display:flex;
  align-items:center;
}

.plan {
  margin:20px;
  padding:20px;
  border: 2px solid #A7FF73;
  border-radius: 5px;
  text-align: center;
  flex:1;
  display:flex;
  flex-wrap:wrap;

}

.plan > * {
  flex:1 1 100%;
}

.plan .cta {
  align-self:flex-end;
}
