html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0;
  background: #242d28;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding:50px;
}

img {
  width:100%;
  height: 300px;
  object-fit: cover;
}

a {
  color: #44fc8c;
  text-decoration: none;
  font-size: 15px;
  background:rgba(0,0,0,0.2);
}
a:hover {
  background:rgba(0,0,0,0.4);
}


.slider-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
}

.slider-nav li {
  display:flex;
  flex:2;
}

.slider-nav .arrow {
  flex:1;
}
.slider-nav .arrow a {
  font-size: 40px;
}

.slider-nav a {
  align-items:center;
  flex:1;
  display:flex;
  padding:20px 5px;
}

.slider-nav span {
  display: block;
  flex:1;
  text-align: center;
}
